@font-face {
  font-family: 'Press Start 2P';
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/pressstart2p/v14/e3t4euO8T-267oIAQAu6jDQyK3nVivM.woff2) format('woff2');
} 
* {
  font-family: 'Press Start 2P', cursive;
}

.square {
    width: 4vw;
    height: 8vh;
    border-radius: 0.5vh;
    background-color: #87CEEB;
    padding: 0.5vh;
    border-style: solid;
    border-width: 0.1vh;
    z-index: 99;
  }

  .move {
    transform: translateY(0vh);
    transition: transform 0s none 0s;
  }

  .start-from-top{
    position: absolute;
    top: 0vh;
    left:30vw;
    z-index: 99 !important;
    transform: rotate(0deg);
    transform-origin: center;
    padding: 0%;
    margin-right: 0vw;
    margin-left: 0vw;

    }
#left-wall {
  padding: 0%;
  margin: 0%;
}

 